.input {
  @apply block w-full rounded-lg border border-white/10 bg-[#1e1e1e] px-5 py-2.5 text-lg outline-offset-2 transition-all duration-300 focus:outline-none mobile:text-base;
  outline: transparent solid 2px;

  &:hover {
    border-color: rgb(255 255 255 / 0.2);
  }

  &:focus {
    border-color: rgb(255 255 255 / 0.4);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
